{% load static %}
{% url 'sales' as sales_home %}
{% url 'saleslist' as sales_list %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img style="height:100px;width:100px;" src="{% static 'book.jpg' %}" alt=""
                                              class="logo-sm"></a>
        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{sales_home}}" class=" {% if request.path == sales_home %} active {% endif %} nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{sales_list}}" class="{% if request.path == sales_list %} active {% endif %} nav-link">Sales</a>
                </li>


            </ul>
        </div>

    </div>
</nav>